h1{
    font-family: 'Exo',
    sans-serif;
    margin: 10% 0;
}
p{
       color: #ff5252;
       font-family: 'Exo',
       sans-serif;
       font-size: 18px;
}
.form{
    margin-top: 5%;
    text-align: center;
    background-color: #f7f6f6;
    padding: 20px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile+label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #0e9c0e;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: #e67e29;
}
.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}